/* frontend/components/SiteLayout.module.css */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: "Inter", sans-serif;
}

.main {
  flex: 1;
  padding: 1.5rem;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.footer {
  text-align: center;
  padding: 1.5rem;
  font-size: 0.875rem;
  color: #666;
  background-color: #eaeaea;
  border-top: 1px solid #ccc;
}
